# Tarefa 02 Módulo 05

O nosso projeto desta sequência de módulos do curso será um aprofundamento da demonstração sobre classificação de risco de crédito que vimos lá no comecinho. Pois recebemos uma base já montada pra nós. Tenha certeza de que ela passou por um longo processamento até ficar daquele jeito. Neste exercício vamos exercitar o que aprendemos nas ultimas aulas e montar a variável resposta da base do nosso projeto.

#### Marcação de bom e mau
O objetivo da modelagem é classificar o risco de inadimplência, ou como se diz no meio, o risco de *default*. Podemos fazer longas discussões sobre o conceito de *default* com base em estudos e exigências regulatórias, para efeitos deste estudo, um cliente em *default* é aquele que está em 60 dias de atraso ou mais. Então classificaremos os clientes como 'bons' e 'maus' assim:
- **Maus** pagadores: são aqueles que entraram em 'default' (atraso 60 dias ou mais) nos 24 meses seguintes à aquisição do cartão de crédito. 
- **Bons** pagadores: são considerados todos os demais.
- **Excluídos**: Clientes que não adquiriram um cartão de crédito (seja por recusa, seja por desistência) não possuem informações de pagamento, portanto não se pode identificar se são bons ou maus. Há uma longa discussão e literatura sobre *inferência de rejeitados* que está fora do escopo deste exercício.

#### Bases disponíveis
Temos duas bases importantes aqui: uma de propostas, com diversas informações dos vários solicitantes de cartão de crédito, e uma base de pagamentos. A base de pagamentos será utilizada para identificar a ocorrência de *default*. A base de propostas tem diversas informações coletadas no momento da solicitação do crédito (isto é importante: qualquer informação posterior a essa data é impossível de ser coletada na aplicação do modelo e não pode ser utilizada).

As variáveis delas são:

Base de propostas - application_records.csv

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| CODE_GENDER| M = 'Masculino'; F = 'Feminino' |M/F|
| FLAG_OWN_CAR| Y = 'possui'; N = 'não possui' |Y/N|
| FLAG_OWN_REALTY| Y = 'possui'; N = 'não possui' |Y/N|
| CNT_CHILDREN| Quantidade de filhos |inteiro|
| AMT_INCOME_TOTAL| Annual income |inteiro|
| NAME_INCOME_TYPE|Tipo de renda (ex: assaliariado, autônomo etc) | texto |
| NAME_EDUCATION_TYPE| Nível de educação (ex: secundário, superior etc) |texto|
| NAME_FAMILY_STATUS | Estado civil (ex: solteiro, casado etc)| texto |
| NAME_HOUSING_TYPE | tipo de residência (ex: casa/apartamento, com os pais etc) | texto |
| DAYS_BIRTH | Count backwards from current day (0), -1 means yesterday |inteiro|
| DAYS_EMPLOYED | Count backwards from current day (0), -1 means yesterday |inteiro|
| FLAG_MOBIL | Indica se possui celular (1 = sim, 0 = não) |binária|
| FLAG_WORK_PHONE | Indica se possui telefone comercial (1 = sim, 0 = não) |binária|
| FLAG_PHONE | Indica se possui telefone (1 = sim, 0 = não) |binária|
| FLAG_EMAIL | Indica se possui e-mail (1 = sim, 0 = não) |binária|
| OCCUPATION_TYPE | Occupation	 |Qualitativa|
| CNT_FAM_MEMBERS | quantidade de pessoas na residência |inteiro|

Base de pagamentos - pagamentos_largo.csv  

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| mes_00 a mes_24| faixa de atraso mês a mês do cliente <br>0: 1-29 days past due &nbsp;&nbsp;&nbsp;&nbsp; 1: 30-59 days past due <br />2: 60-89 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 3: 90-119 days overdue <br /> 4: 120-149 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 5: more than 150 days <br />C: paid off that month &nbsp;&nbsp;&nbsp;&nbsp; X: No loan for the month |Qualitativa|

#### Construindo a variável resposta
A base de pagamentos está em um formato de 'base larga'. Essa base possui informações de pagamentos do cliente mês a mês a partir do mês de aquisição do crédito (mês 0) até o vigésimo quarto mês após a aquisição do crédito (mês 24). Utilizaremos essa base para determinar se um proponente é considerado 'bom pagador' ou caso apresente atraso representativo, será considerado 'mau pagador'.

#### Base larga vs base longa
A base ser larga significa que há uma linha para cada cliente, e que as informações estarão nas colunas, em contraste com a 'base longa', em que haveria uma linha para cada combinação cliente/mês, uma coluna indicando o cliente, outra indicando o mês, e apenas uma coluna com a informação do atraso.

#### Tarefa 1) Marcar *default* no mês
Faça uma indicadora de se o cliente está em *default* em cada uma das marcações (mes_00 a mes_24). Dica: você pode utilizar o método ```.isin()``` do Pandas. Consulte a [documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) caso necessário.

#### Tarefa 2) 'bons' e 'maus' ao longo de todos os 24 meses de desempenho
Marque para cada cliente se ele teve pelo menos um episódio de *default* entre o mês 0 e o mês 24. Dica: o método ```sum()``` pode ajudar. Caso precise, consulte a [documentação](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html) e procure pelo argumento ```axis```, você viu outros métodos que possuem esse argumento também. Tendo o número de meses em default de cada cliente, basta marcar ```True``` para todos aqueles que possuem pelo menos 1 mês em *default* e ```False``` para os demais.

#### Tarefa 3) Marcando proponentes expostos ao risco de crédito
Marcando proponentes que se tornaram tomadores: lembre-se de que clientes que não adquiriram o cartão devem ser desconsiderados. A base de pagamentos possui apenas clientes que adquiriram cartão de crédito, então você pode selecionar somente os clientes da base de propostas que se encontram na base de pagamentos.

#### Tarefa 4) Consolidando as informações
Faça uma junção das informações da base de propostas com a variável de *default* que você acabou de construir. Talvez você consiga realizar a tarefa 3 e tarefa 4 em uma única linha de código ;)

#### Tarefa 5) Verificando
Faça uma contagem dos valores do *default* que você construiu.

In [4]:
import pandas as pd

In [5]:
propostas = pd.read_csv('application_record.csv')
pg = pd.read_csv('pagamentos_largo.csv')

In [6]:
pg.head()

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_22,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9
0,5001718,0,0,0,0,0,0,0,0,NaN,...,NaN,0,NaN,0,0,0,0,NaN,0,NaN
1,5001719,0,0,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
2,5001720,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,5001723,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,NaN,NaN
4,5001726,0,0,C,C,C,C,C,C,C,...,C,C,C,0,0,0,C,C,C,C

In [ ]:
# 1) Seu código aqui
# pg.astype(str) = converte o DataFrame pg em string
# .isin(['2', '3', '4', '5']) = Ver se tem esses numeros no DataFrame pg. se tiver retorna True, se nao False
# df_default.sum() = conta o numero de 'True' em cada coluna 

df_default = pg.astype(str).isin(["2","3","4","5"])

df_default.sum()

In [10]:
# 2) Seu código aqui
# Crie uma coluna default_0_24 preenchida com false
pg['default_0_24'] = False

# Itere pelas colunas que começam com 'mes_'
for coluna in pg.filter(like='mes_'): # .filter(like='mes_') seleciona apenas as colunas que começam com 'mes_'
    # Verifique se pelo menos um mês está em default (2,3,4,5)
    pg['default_0_24'] |= pg[coluna].astype(str).isin(['2', '3', '4', '5']).astype(bool)
    # |= é uma operação OU bit a bit, verifica se uma das colunas atende a condição especifica, se atender, o resultado da operação sera 'True', se não 'False

pg

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9,default_0_24
0,5001718,0,0,0,0,0,0,0,0,NaN,...,0,NaN,0,0,0,0,NaN,0,NaN,False
1,5001719,0,0,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,False
2,5001720,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
3,5001723,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,NaN,NaN,False
4,5001726,0,0,C,C,C,C,C,C,C,...,C,C,0,0,0,C,C,C,C,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20932,5150475,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,False
20933,5150476,0,0,0,0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,False
20934,5150480,0,0,C,C,C,C,C,C,C,...,C,C,0,0,0,C,C,C,C,False
20935,5150482,0,0,0,0,C,C,C,C,C,...,NaN,NaN,0,0,0,0,0,0,0,False
20936,5150487,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,False

In [13]:
# 3) Seu código aqui
# Suponha que a coluna 'id_cliente' na base de pagamentos contenha os IDs dos clientes com cartão de crédito
clientes_com_cartão = set(pg['ID'])

# Suponha que a coluna 'id_cliente' na base de propostas contenha os IDs dos proponentes
propostas['se_tornou_tomador'] = propostas['ID'].isin(clientes_com_cartão)

clientes_com_cartão

{5112593,
 5112594,
 5112609,
 5112615,
 5112622,
 5112623,
 5112625,
 5112626,
 5112629,
 5112633,
 5112634,
 5112636,
 5112637,
 5112644,
 5112645,
 5112647,
 5112648,
 5112649,
 5112650,
 5112651,
 5112652,
 5112653,
 5112654,
 5112655,
 5112656,
 5112657,
 5112662,
 5112663,
 5112664,
 5112665,
 5112672,
 5112673,
 5112676,
 5112677,
 5112683,
 5112684,
 5112685,
 5112686,
 5112693,
 5112694,
 5112695,
 5112696,
 5112699,
 5112703,
 5112717,
 5112726,
 5112729,
 5112735,
 5112736,
 5112737,
 5112740,
 5112741,
 5112746,
 5112747,
 5112748,
 5112758,
 5112759,
 5112760,
 5112761,
 5112762,
 5112763,
 5112764,
 5112765,
 5112768,
 5112769,
 5112770,
 5112771,
 5112772,
 5112780,
 5112781,
 5112782,
 5112784,
 5112785,
 5112796,
 5112798,
 5112799,
 5112801,
 5112802,
 5112807,
 5112809,
 5112812,
 5112818,
 5112819,
 5112820,
 5112821,
 5112825,
 5112844,
 5112847,
 5112849,
 5112852,
 5112858,
 5112862,
 5112868,
 5112873,
 5112876,
 5112878,
 5112882,
 5112884,
 5112885,
 5112887,
 5112889,
 5112895,
 5112899,
 5112901,
 5112902,
 5112903,
 5112904,
 5112908,
 5112909,
 5112911,
 5112912,
 5112916,
 5112917,
 5112920,
 5112924,
 5112932,
 5112941,
 5112942,
 5112949,
 5112952,
 5112953,
 5112956,
 5112957,
 5112959,
 5112960,
 5112961,
 5112965,
 5112966,
 5112967,
 5112969,
 5112975,
 5112977,
 5112978,
 5112981,
 5112982,
 5112983,
 5112989,
 5112990,
 5112992,
 5112994,
 5112996,
 5113011,
 5113012,
 5113013,
 5113014,
 5113018,
 5113030,
 5113039,
 5113040,
 5113042,
 5113046,
 5113049,
 5113051,
 5113052,
 5113059,
 5113060,
 5113063,
 5113067,
 5113070,
 5113073,
 5113077,
 5113078,
 5113079,
 5113080,
 5113081,
 5113082,
 5113083,
 5113085,
 5113086,
 5113088,
 5113092,
 5113097,
 5113102,
 5113104,
 5113105,
 5113106,
 5113110,
 5113111,
 5113119,
 5113121,
 5113127,
 5113130,
 5113131,
 5113138,
 5113145,
 5113148,
 5113149,
 5113161,
 5113164,
 5113168,
 5113175,
 5113181,
 5113183,
 5113186,
 5113190,
 5113191,
 5113193,
 5113194,
 5113197,
 5113201,
 5113204,
 5113208,
 5113210,
 5113211,
 5113214,
 5113216,
 5113223,
 5113224,
 5113228,
 5113230,
 5113235,
 5113238,
 5113239,
 5113241,
 5113252,
 5113255,
 5113258,
 5113261,
 5113262,
 5113263,
 5113264,
 5113265,
 5113266,
 5113267,
 5113269,
 5113272,
 5113276,
 5113278,
 5113279,
 5113282,
 5113290,
 5113291,
 5113292,
 5113293,
 5113294,
 5113295,
 5113296,
 5113297,
 5113298,
 5113302,
 5113304,
 5113310,
 5113317,
 5113321,
 5113325,
 5113327,
 5113328,
 5113329,
 5113330,
 5113340,
 5113343,
 5113345,
 5113347,
 5113348,
 5113351,
 5113357,
 5113358,
 5113359,
 5113365,
 5113366,
 5113367,
 5113371,
 5113372,
 5113373,
 5113376,
 5113377,
 5113378,
 5113383,
 5113384,
 5113385,
 5113386,
 5113387,
 5113391,
 5113392,
 5113395,
 5113396,
 5113400,
 5113401,
 5113404,
 5113405,
 5113411,
 5113412,
 5113415,
 5113416,
 5113417,
 5113428,
 5113437,
 5113442,
 5113443,
 5113446,
 5113447,
 5113452,
 5113453,
 5113454,
 5113455,
 5113457,
 5113463,
 5113465,
 5113466,
 5113467,
 5113468,
 5113470,
 5113472,
 5113473,
 5113474,
 5113483,
 5113486,
 5113488,
 5113490,
 5113491,
 5113492,
 5113495,
 5113496,
 5113497,
 5113503,
 5113507,
 5113509,
 5113516,
 5113517,
 5113518,
 5113522,
 5113523,
 5113525,
 5113527,
 5113531,
 5113540,
 5113541,
 5113546,
 5113548,
 5113556,
 5113560,
 5113562,
 5113567,
 5113569,
 5113570,
 5113574,
 5113576,
 5113578,
 5113580,
 5113583,
 5113588,
 5113589,
 5113595,
 5113597,
 5113601,
 5113603,
 5113604,
 5113606,
 5113607,
 5113608,
 5113614,
 5113616,
 5113621,
 5113623,
 5113627,
 5113628,
 5113629,
 5113630,
 5113631,
 5113639,
 5113645,
 5113646,
 5113647,
 5113650,
 5113651,
 5113653,
 5113654,
 5113655,
 5113656,
 5113663,
 5113672,
 5113675,
 5113682,
 5113685,
 5113686,
 5113688,
 5113691,
 5113705,
 5113711,
 5113712,
 5113713,
 5113716,
 5113722,
 5113723,
 5113727,
 5113734,
 5113737,
 5113739,
 5113744,
 5113745,
 5113746,
 5113754,
 5113757,
 5113758,
 5113759,
 5113771,
 5113772,
 5113774,
 5113775,
 5113776,
 5113778,
 5113780,
 5113791,
 5113801,
 5113802,
 5113803,
 5113805,
 5113810,
 5113816,
 5113817,
 5113818,
 5113824,
 5113825,
 5113826,
 5113830,
 5113831,
 5113844,
 5113845,
 5113847,
 5113855,
 5113856,
 5113857,
 5113858,
 5113859,
 5113861,
 5113862,
 5113863,
 5113865,
 5113868,
 5113869,
 5113870,
 5113871,
 5113874,
 5113881,
 5113893,
 5113895,
 5113896,
 5113897,
 5113900,
 5113903,
 5113904,
 5113905,
 5113906,
 5113911,
 5113912,
 5113916,
 5113918,
 5113922,
 5113933,
 5113938,
 5113944,
 5113952,
 5113953,
 5113955,
 5113956,
 5113961,
 5113962,
 5113967,
 5113969,
 5113970,
 5113972,
 5113973,
 5113975,
 5113976,
 5113977,
 5113978,
 5113979,
 5113980,
 5113981,
 5113984,
 5113987,
 5113992,
 5113993,
 5113995,
 5113996,
 5113997,
 5113998,
 5113999,
 5114000,
 5114001,
 5114003,
 5114005,
 5114007,
 5114018,
 5114022,
 5114023,
 5114033,
 5114034,
 5114049,
 5114050,
 5114056,
 5114057,
 5114061,
 5114064,
 5114065,
 5114067,
 5114068,
 5114070,
 5114073,
 5114074,
 5114076,
 5114079,
 5114082,
 5114085,
 5114088,
 5114092,
 5114094,
 5114098,
 5114099,
 5114102,
 5114106,
 5114108,
 5114109,
 5114116,
 5114124,
 5114125,
 5114130,
 5114131,
 5114134,
 5114137,
 5114138,
 5114139,
 5114145,
 5114146,
 5114149,
 5114150,
 5114151,
 5114155,
 5114166,
 5114172,
 5114177,
 5114189,
 5114190,
 5114192,
 5114193,
 5114195,
 5114197,
 5114201,
 5114207,
 5114215,
 5114216,
 5114217,
 5114221,
 5114224,
 5114227,
 5114231,
 5114232,
 5114236,
 5114241,
 5114247,
 5114248,
 5114249,
 5114253,
 5114260,
 5114263,
 5114270,
 5114272,
 5114274,
 5114279,
 5114280,
 5114290,
 5114295,
 5114301,
 5114305,
 5114308,
 5114311,
 5114312,
 5114329,
 5114330,
 5114332,
 5114341,
 5114346,
 5114347,
 5114349,
 5114356,
 5114357,
 5114358,
 5114361,
 5114362,
 5114363,
 5114366,
 5114368,
 5114373,
 5114377,
 5114378,
 5114380,
 5114385,
 5114386,
 5114387,
 5114390,
 5114391,
 5114395,
 5114396,
 5114397,
 5114398,
 5114415,
 5114417,
 5114418,
 5114420,
 5114423,
 5114424,
 5114426,
 5114427,
 5114433,
 5114434,
 5114435,
 5114437,
 5114438,
 5114440,
 5114442,
 5114443,
 5114450,
 5114451,
 5114452,
 5114453,
 5114461,
 5114462,
 5114480,
 5114481,
 5114485,
 5114486,
 5114487,
 5114488,
 5114491,
 5114495,
 5114496,
 5114497,
 5114499,
 5114500,
 5114501,
 5114502,
 5114503,
 5114504,
 5114506,
 5114507,
 5114508,
 5114510,
 5114512,
 5114514,
 5114517,
 5114523,
 5114524,
 5114527,
 5114528,
 5114534,
 5114536,
 5114538,
 5114541,
 5114545,
 5114551,
 5114553,
 5114556,
 5114561,
 5114562,
 5114563,
 5114565,
 5114566,
 5114567,
 5114570,
 5114575,
 5114587,
 5114598,
 5114600,
 5114601,
 5114603,
 5114604,
 5114607,
 5114610,
 5114628,
 5114629,
 5114631,
 5114641,
 5114642,
 5114647,
 5114649,
 5114650,
 5115401,
 5115404,
 5115405,
 5115406,
 5115413,
 5115417,
 5115418,
 5115426,
 5115428,
 5115429,
 5115431,
 5115432,
 5115434,
 5115442,
 5115443,
 5115450,
 5115451,
 5115454,
 5115455,
 5115458,
 5115465,
 5115473,
 5115474,
 5115475,
 5115476,
 5115480,
 5115481,
 5115488,
 5115489,
 5115490,
 5115506,
 5132896,
 5115509,
 5115510,
 5115514,
 5115515,
 5115517,
 5115523,
 5115524,
 5115525,
 5115526,
 5115529,
 5115533,
 5115534,
 5115544,
 5115545,
 5115546,
 5115551,
 5115552,
 5115553,
 5115554,
 5115555,
 5115557,
 5115558,
 5115559,
 5115562,
 5115563,
 5115564,
 5115565,
 5115566,
 5115567,
 5115571,
 5115572,
 5115573,
 5115577,
 5115579,
 5115580,
 5115584,
 5115587,
 5115591,
 5115598,
 5115599,
 5115605,
 5115607,
 5115609,
 5115613,
 5115615,
 5115617,
 5115620,
 5115621,
 5115624,
 5115625,
 5115626,
 5115627,
 5115630,
 5115631,
 5115637,
 5115641,
 5115649,
 5115655,
 5115656,
 5115657,
 5115667,
 5115668,
 5115670,
 5115675,
 5115679,
 5115686,
 5115687,
 5115689,
 5115692,
 5115707,
 5115708,
 5115710,
 5115711,
 5115712,
 5115713,
 5115717,
 5115721,
 5115723,
 5115725,
 5115726,
 5115731,
 5115736,
 5115738,
 5115740,
 5115741,
 5115744,
 5115747,
 5115751,
 5115752,
 5115755,
 5115761,
 5115773,
 5115776,
 5115777,
 5115778,
 5115780,
 5115781,
 5115784,
 5115785,
 5115790,
 5115791,
 5115792,
 5115793,
 5115794,
 5115801,
 5115803,
 5115804,
 5115805,
 5115813,
 5115814,
 5115817,
 5115818,
 5115820,
 5115826,
 5115827,
 5115828,
 5115829,
 5115837,
 5115838,
 5115841,
 5115845,
 5115846,
 5115854,
 5115855,
 5115856,
 5115860,
 5115862,
 5115865,
 5115868,
 5115869,
 5115874,
 5115875,
 5115876,
 5115878,
 5115884,
 5115891,
 5115898,
 5115899,
 5115902,
 5115905,
 5115908,
 5115911,
 5115916,
 5115918,
 5115921,
 5115922,
 5115925,
 5115926,
 5115931,
 5115940,
 5115941,
 5115943,
 5115945,
 5115946,
 5115954,
 5115960,
 5115961,
 5115964,
 5115966,
 5115967,
 5115969,
 5115970,
 5115971,
 5115972,
 5115973,
 5115974,
 5115977,
 5115978,
 5115979,
 5115980,
 5115981,
 5115982,
 5115983,
 5115986,
 5115987,
 5115988,
 5115989,
 5115992,
 5115993,
 5115994,
 5115995,
 5115996,
 5115998,
 5115999,
 5116001,
 5116002,
 5116003,
 5116004,
 5116007,
 5116008,
 5116009,
 5116013,
 5116014,
 5116018,
 5116026,
 5116029,
 5116030,
 5116035,
 5116036,
 5116037,
 5116042,
 5116043,
 5116044,
 5116051,
 5116053,
 5116055,
 5116056,
 5116061,
 5116065,
 5116066,
 5116070,
 5116072,
 5116076,
 5116081,
 5116082,
 5116087,
 5116091,
 5116092,
 5116094,
 5116095,
 5116096,
 5116099,
 5116104,
 5116105,
 5116107,
 5116111,
 5116115,
 5116118,
 5116119,
 5116122,
 5116124,
 5116125,
 5116134,
 5116135,
 5116145,
 5116149,
 5116160,
 5116164,
 5116166,
 5116167,
 5116168,
 5116169,
 5116172,
 5116175,
 5116177,
 5116183,
 5116184,
 5116188,
 5116193,
 5116194,
 5116196,
 5116198,
 5116202,
 5116203,
 5116204,
 5116205,
 5116206,
 5116207,
 5116210,
 5116211,
 5116215,
 5116219,
 5116220,
 5116225,
 5116226,
 5116229,
 5116236,
 5116237,
 5116238,
 5116239,
 5116243,
 5116244,
 5116246,
 5116248,
 5116249,
 5116250,
 5116253,
 5116254,
 5116258,
 5116259,
 5116260,
 5116263,
 5116264,
 5116269,
 5116282,
 5116283,
 5116290,
 5116291,
 5116293,
 5116294,
 5116295,
 5116296,
 ...}

In [27]:
# 4) Seu código aqui
# Suponha que vc ja tenha variavel 'default' contendo as informações de default dos clientes
# Suponha tambem que a coluna 'ID' na base de propostas contenha os IDs dos proponentes
# pg[['ID','default_0_24']] , como é mais de uma coluna, usar dois []
propostas_com_default = propostas.merge(pg[['ID','default_0_24']], left_on='ID', right_on='ID', how='inner')
propostas_com_default

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,se_tornou_tomador,default_0_24
0,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,True,False
1,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,True,False
2,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,True,False
3,5112956,M,Y,Y,0,270000.0,Working,Higher education,Married,House / apartment,-16872,-769,1,1,1,1,Accountants,2.0,True,False
4,5008825,F,Y,N,0,130500.0,Working,Incomplete higher,Married,House / apartment,-10669,-1103,1,0,0,0,Accountants,2.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,5149042,F,N,Y,0,180000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-19750,-3608,1,0,0,0,Laborers,2.0,True,True
16646,5149056,F,N,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15837,-2694,1,1,1,0,NaN,2.0,True,True
16647,5149145,M,Y,Y,0,247500.0,Working,Secondary / secondary special,Married,House / apartment,-10952,-3577,1,1,0,0,Laborers,2.0,True,True
16648,5149158,M,Y,Y,0,247500.0,Working,Secondary / secondary special,Married,House / apartment,-10952,-3577,1,1,0,0,Laborers,2.0,True,True
16649,5149838,F,N,Y,0,157500.0,Pensioner,Higher education,Married,House / apartment,-12387,-1325,1,0,1,1,Medicine staff,2.0,True,True

In [29]:
# 5) Seu código aqui
contagem_default = propostas_com_default['default_0_24'].value_counts()

contagem_default

default_0_24
False    16260
True       390
Name: count, dtype: int64